ul {
    padding: 0;
    display: flex;
    overflow: scroll;
}
li {
    list-style-type: none;
}

label {
    display: block;
    margin-top: 10px;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 200px;
}

@media screen and (min-width: 600px) {
    fieldset {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
    
    label {
        display: inline;
        text-align: right;
        margin-top: 0;       
    }
}

